h1 {
	font-weight: bold;
}

h2 {
	font-weight: bold;
}

.instructions {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	text-align: center;
	place-items: center;
}

.App {
	height: 100%;
	width: 100%;
	display: grid;
	text-align: center;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: auto;
}